#container {
    -fx-background-color: #2b2a33;
}

.title {
    -fx-alignment: center;
}

#vbox-bottom-area {
    -fx-alignment: center;
    -fx-spacing: 28px;
}

#examining-hbox {
    -fx-alignment: center;
    -fx-spacing: 50px;
}

#hbox-btn-container {
    -fx-alignment: center;
    -fx-spacing: 96px;
}
