#container {
    -fx-background-color: #2b2a33;
}

#title {
    -fx-text-fill: white;
    -fx-font-size: 50px;
    -fx-font-weight: bolder;
}

#subtitle {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#basic-text {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#mainmenu-btn {
    -fx-background-color: rgba(0, 255, 0, 0.6);

    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;

    -fx-padding: 10px 50px 10px 50px;

    -fx-border-radius: 0px;
}

#mainmenu-btn:hover {
    -fx-background-color: rgba(0, 255, 0, 0.8);
}

#exit-btn {
    -fx-background-color: rgba(255, 0, 0, 0.6);

    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;

    -fx-padding: 10px 50px 10px 50px;

    -fx-border-radius: 0px;
}

#exit-btn:hover {
    -fx-background-color: rgba(255, 0, 0, 0.8);
}
