/* 1rem : 16px */
/* 1.25rem : 20px */
/* 1.5rem : 24px */
/* 1.75rem : 28px */
/* 2rem : 32px */
/* 2.25rem : 36px */
/* 2.5rem : 40px */
/* 3rem : 48px */
/* 3.5rem : 56px */
/* 4rem : 64px */
/* 6rem : 96px */
/* 8rem : 128px */

* {
    -std-background-color: #2b2a33ff;

    -primary-text-fill: #ffffffff;
    -grayed-text-fill: #9b9b9bff;

    -primary-btn-color: rgba(0, 0, 255, 0.6);
    -primary-hover-btn-color: rgba(0, 0, 255, 0.8);
    -secondary-btn-color: rgba(255, 255, 255, 0.1);
    -secondary-hover-btn-color: rgba(255, 255, 255, 0.2);
    -danger-btn-color: rgba(255, 255, 255, 0.1);
    -danger-hover-btn-color: rgba(255, 0, 0, 0.2);
    -warning-color: rgba(255, 255, 0, 0.3);
}

#master-container {
    -fx-background-color: -std-background-color;
    -fx-padding: 24px 24px 24px 24px;
}

.text-base-justify,
.text-base {
    -fx-font-size: 16px;
    -fx-font-weight: 400;
    -fx-text-fill: -primary-text-fill;
}

.text-base-justify {
    -fx-text-alignment: justify;
}

.text-base-warning {
    -fx-font-size: 16px;
    -fx-font-weight: 400;
    -fx-text-fill: -warning-color;
}

.text-lg {
    -fx-font-size: 32px;
    -fx-font-weight: 700;
    -fx-text-fill: -primary-text-fill;
}

.text-lg-warning {
    -fx-font-size: 32px;
    -fx-font-weight: 700;
    -fx-text-fill: -warning-color;
}

.text-xl {
    -fx-font-size: 48px;
    -fx-font-weight: 800;
    -fx-text-fill: -primary-text-fill;
}

.text-2xl {
    -fx-font-size: 96px;
    -fx-font-weight: 800;
    -fx-text-fill: -primary-text-fill;
}

.primary-mini-btn,
.primary-btn {
    -fx-background-color: -primary-btn-color;

    -fx-text-fill: -primary-text-fill;
    -fx-font-size: 24px;
    -fx-font-weight: 700;

    -fx-padding: 16px 48px 16px 48px;
    -fx-border-radius: 0px;
}

.primary-mini-btn:hover,
.primary-btn:hover {
    -fx-background-color: -primary-hover-btn-color;
}

.primary-mini-btn {
    -fx-font-size: 16px;
    -fx-font-weight: 500;
    -fx-padding: 8px 24px 8px 24px;
}

.secondary-mini-btn,
.secondary-btn {
    -fx-background-color: -secondary-btn-color;

    -fx-text-fill: -primary-text-fill;
    -fx-font-size: 24px;
    -fx-font-weight: 700;

    -fx-padding: 16px 48px 16px 48px;
    -fx-border-radius: 0px;
}

.secondary-mini-btn:hover,
.secondary-btn:hover {
    -fx-background-color: -secondary-hover-btn-color;
}

.secondary-mini-btn {
    -fx-font-size: 16px;
    -fx-font-weight: 500;
    -fx-padding: 8px 24px 8px 24px;
}

.danger-mini-btn,
.danger-btn {
    -fx-background-color: -danger-btn-color;

    -fx-text-fill: -primary-text-fill;
    -fx-font-size: 24px;
    -fx-font-weight: 700;

    -fx-padding: 16px 48px 16px 48px;
    -fx-border-radius: 0px;
}

.danger-mini-btn:hover,
.danger-btn:hover {
    -fx-background-color: -danger-hover-btn-color;
}

.danger-mini-btn {
    -fx-font-size: 16px;
    -fx-font-weight: 500;
    -fx-padding: 8px 24px 8px 24px;
}
