#container {
    -fx-background-color: #2b2a33;
}

#title {
    -fx-text-fill: white;
    -fx-font-size: 50px;
    -fx-font-weight: bolder;
}

#subtitle {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#play-btn {
    -fx-background-color: blue;

    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;

    -fx-padding: 10px 50px 10px 50px;

    -fx-border-radius: 0px;
}

#play-btn:hover {
    -fx-background-color: #1f2d3e;
}

#rules-btn {
    -fx-background-color: green;

    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;

    -fx-padding: 10px 50px 10px 50px;

    -fx-border-radius: 0px;
}

#rules-btn:hover {
    -fx-background-color: #004100;
}

#exit-btn {
    -fx-background-color: red;

    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;

    -fx-padding: 10px 50px 10px 50px;

    -fx-border-radius: 0px;
}

#exit-btn:hover {
    -fx-background-color: #a10000;
}
