#container {
    -fx-background-color: #2b2a33;
}

#title {
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-weight: bolder;
}

#subtitle {
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

#continue-btn {
    -fx-background-color: #2dad00;

    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;

    -fx-padding: 10px 50px 10px 50px;

    -fx-border-radius: 0px;
}

#continue-btn:hover {
    -fx-background-color: #006700;
}
